Repository maxplanck-ie/parkour2: changes, and which pre-commit hooks are due for each by the changed paths.
All: set-prod-docker, hardreset-caddyfile

.pre-commit-config.yaml:

ci:
    autofix_commit_msg: |
        [pre-commit] fixes from hooks
    autofix_prs: true
    autoupdate_branch: 'develop'
    autoupdate_commit_msg: 'pre-commit.ci autoupdate'
    autoupdate_schedule: quarterly
    skip: []
    submodules: false

repos:
-   repo: local
    hooks:
    -   id: set-prod-docker
        name: set-prod-docker
        entry: /usr/bin/make
        language: script
        pass_filenames: false
        files: Dockerfile|docker-compose\.yml|misc/parkour\.env
        args: ['set-prod']
    -   id: hardreset-caddyfile
        name: hardreset-caddyfile
        entry: /usr/bin/make
        language: script
        pass_filenames: false
        files: misc/Caddyfile
        args: ['hardreset-caddyfile']

# On centos, with py36, this was locked to 4.0.1
# Had to install anaconda3 and adjust INSTALL_PYTHON @ .git/hooks/pre-commit
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        types: [python]
    -   id: end-of-file-fixer
        types: [python]
    -   id: check-merge-conflict
        types: [python]

-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
        language_version: python3
        entry: black --target-version=py311  # 3.11

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.8.0
    hooks:
    -   id: pyupgrade
        args: [--py311-plus]  # 3.11

#-   repo: https://gitlab.com/pycqa/flake8.git
#    rev: 4.0.1
#    hooks:
#    -   id: flake8
#        #additional_dependencies:
#        #  - flake8-black>=0.1.1
#        language_version: python3
#        args: [--max-line-length, "222", --extend-ignore, "E203"]

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: rst-backticks
    -   id: rst-directive-colons

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.14.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "4.2"]

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: [--profile, "black"]


## Static(s)
#-   repo: https://github.com/pre-commit/mirrors-prettier
#    rev: v2.6.2
#    hooks:
#    -   id: prettier
#        types_or: [javascript, css]
#-   repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v8.17.0
#    hooks:
#    -   id: eslint
#        files: \.js?$
#        types: [file]
#        args:
#        - --fix

Fronted dockerfile modified
  frontend.Dockerfile
Due: set-prod-docker

configurable via parkour.env
  backend/wui/settings/base.py
Due: none

Broken Vue container
  Makefile
  caddy.yml
  docker-compose.yml
  frontend.Dockerfile
  frontend/.gitignore
  frontend/package-lock.json
  frontend/src/router/router.js
  misc/Caddyfile
Due: set-prod-docker, hardreset-caddyfile

almost there, getting wrong mimetype at CSS and JS assets
  docker-compose.yml
  frontend.Dockerfile
  frontend/package.json
  frontend/src/router/router.js
  frontend/vite.config.js
  misc/Caddyfile
Due: set-prod-docker, hardreset-caddyfile

tidy up
  backend.Dockerfile
  docker-compose.yml
  frontend.Dockerfile
  frontend/package-lock.json
  frontend/vite.config.js
Due: set-prod-docker

tidy up 2
  Makefile
  caddy.yml
Due: none

tidy up 3
  Makefile
Due: none

fixed js and css 404 error in vue
  Makefile
  frontend/vue.config.js
  misc/Caddyfile
  misc/parkour.env
Due: set-prod-docker, hardreset-caddyfile

yay!!! it works
  frontend/src/router/router.js
  frontend/vite.config.js
  misc/Caddyfile
  misc/parkour.env
Due: set-prod-docker, hardreset-caddyfile

moving forward
  Makefile
Due: none

fix redirection
  frontend/src/utils/utilities.js
Due: none

given Caddyfile works locally, this is our inferred webserver configs now
  misc/Caddyfile_with_pgadmin
  misc/nginx-server.conf
Due: hardreset-caddyfile

makefile and node scripts in sync, both works. But no HMR (yet)
  Makefile
  frontend.Dockerfile
  frontend/package.json
Due: set-prod-docker

Pool paths and duties icon done
  backend/library_sample_shared/serializers.py
  backend/static/main-hub/app/model/Record.js
  backend/static/main-hub/app/view/libraries/Libraries.js
  backend/static/main-hub/app/view/main/Main.js
  backend/static/main-hub/bootstrap.css
  backend/static/main-hub/bootstrap.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss
  backend/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss.tmp
  backend/static/main-hub/build/temp/production/MainHub/sass/config.rb
  backend/static/main-hub/build/temp/production/MainHub/sencha-compiler/app/full-page-master-bundle.js
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss.tmp
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/config.rb
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  backend/static/main-hub/sass/example/bootstrap.js
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  docker-compose.yml
Due: set-prod-docker

Package-lock json added to the git ignore file
  frontend/.gitignore
  frontend/package-lock.json
Due: none

keep a tidy git status right after django deployment
  Makefile
Due: none

Tests fixing
  Makefile
  backend/frontend_testing_suite/tests/requests_page.py
  backend/library/tests.py
  backend/sample/tests.py
  docker-compose.yml
  frontend.Dockerfile
Due: set-prod-docker

Removed pool paths feature
  backend/library/tests.py
  backend/library_sample_shared/serializers.py
  backend/sample/tests.py
  backend/static/main-hub/app/model/Record.js
  backend/static/main-hub/app/view/libraries/Libraries.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  docker-compose.yml
  frontend.Dockerfile
Due: set-prod-docker

Ext pool duties (#77)
  Makefile
  backend/frontend_testing_suite/tests/requests_page.py
  backend/static/main-hub/app/model/Record.js
  backend/static/main-hub/app/view/libraries/Libraries.js
  backend/static/main-hub/app/view/main/Main.js
  backend/static/main-hub/bootstrap.css
  backend/static/main-hub/bootstrap.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss
  backend/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss.tmp
  backend/static/main-hub/build/temp/production/MainHub/sass/config.rb
  backend/static/main-hub/build/temp/production/MainHub/sencha-compiler/app/full-page-master-bundle.js
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss.tmp
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/config.rb
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  backend/static/main-hub/sass/example/bootstrap.js
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  frontend/.gitignore
  frontend/package-lock.json
Due: none

Switch back to X-Accel-Redirect path for NGINX
  parkour_app/common/views.py
Due: none

a first draft, with export
  backend/request/resources.py
  backend/request/templates/export.html
  backend/request/templates/import.html
  backend/request/urls.py
  backend/request/views.py
  backend/wui/settings/base.py
  backend/wui/urls.py
Due: none

Pool paths and duties icon done
  backend/library_sample_shared/serializers.py
  backend/static/main-hub/app/model/Record.js
  backend/static/main-hub/app/view/libraries/Libraries.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  docker-compose.yml
Due: set-prod-docker

Tests fixing
  backend/library/tests.py
  backend/sample/tests.py
  docker-compose.yml
  frontend.Dockerfile
Due: set-prod-docker

Removed pool paths feature
  backend/library/tests.py
  backend/library_sample_shared/serializers.py
  backend/sample/tests.py
  backend/static/main-hub/app/model/Record.js
  backend/static/main-hub/app/view/libraries/Libraries.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  docker-compose.yml
  frontend.Dockerfile
Due: set-prod-docker

Sencha build
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
Due: none

Sencha Build
  backend/static/main-hub/app/store/libraries/Libraries.js
  backend/static/main-hub/bootstrap.json
  backend/static/main-hub/bootstrap.jsonp
  backend/static/main-hub/build/production/MainHub/app.js
  backend/static/main-hub/build/production/MainHub/app.json
  backend/static/main-hub/build/production/MainHub/app.jsonp
  backend/static/main-hub/build/production/MainHub/microloader.jsp
  backend/static/main-hub/sass/example/bootstrap.json
  backend/static/main-hub/sass/example/bootstrap.jsonp
  docker-compose.yml
Due: set-prod-docker

add login requirement + remove json import, for now at least
  backend/request/templates/import.html
  backend/request/views.py
Due: none

missing import xd
  backend/request/views.py
Due: none

upcoming release
  CHANGELOG.md
Due: none

fix URL mapping
  frontend/src/views/dutiesView.vue
Due: none

enable context menu
  backend/common/models.py
Due: none

duties is enabled
  CHANGELOG.md
Due: none

duties is fixed
  frontend/src/views/dutiesView.vue
Due: none

switch default view
  frontend/src/views/dutiesView.vue
Due: none

duties with cors, WIP. to test out
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/requirements/dev.txt
  backend/requirements/testing.txt
  backend/wui/settings/base.py
Due: none

one more patch
  frontend/src/views/dutiesView.vue
Due: none

export to anything but csv was broken
  backend/request/templates/export.html
  backend/request/views.py
Due: none
