Repository maxplanck-ie/parkour2: changes, and which pre-commit hooks are due for each by the changed paths.
All: set-prod-docker-1, set-prod-env, set-local-url-1, set-local-url-2, set-prod-docker-2, set-prod-docker-compose

.pre-commit-config.yaml:

ci:
    autofix_commit_msg: |
        [pre-commit] fixes from hooks
    autofix_prs: true
    autoupdate_branch: 'develop'
    autoupdate_commit_msg: 'pre-commit.ci autoupdate'
    autoupdate_schedule: quarterly
    skip: []
    submodules: false

repos:
-   repo: local
    hooks:
    -   id: set-prod-docker-1
        name: set-prod-docker-1
        entry: /usr/bin/env sed
        language: script
        files: 'Dockerfile'
        args: [-i, '/^RUN .* pip install/s/\(requirements\/\).*\(\.txt\)/\1prod\2/']
    -   id: set-prod-env
        name: set-prod-env
        entry: /usr/bin/env sed
        language: script
        files: 'parkour.env'
        args: [-i, '/^DJANGO_SETTINGS_MODULE/s/\(wui\.settings\.\).*/\1prod/']
    -   id: set-local-url-1
        name: set-local-url-1
        entry: /usr/bin/env sed
        language: script
        files: 'Caddyfile'
        args: [-i, '/^http/s/http\:\/\/.* {/http:\/\/127\.0\.0\.1 {/']
    -   id: set-local-url-2
        name: set-local-url-2
        entry: /usr/bin/env sed
        language: script
        files: 'caddy.yml'
        args: [-i, '/\:\/etc\/caddy\/Caddyfile$/s/\.\/.*\:/\.\/Caddyfile\:/']
    -   id: set-prod-docker-2
        name: set-prod-docker-2
        entry: /usr/bin/env sed
        language: script
        files: 'Dockerfile'
        args: [-i, '/^CMD gunicorn/s/-t [0-9]+/-t 600/']
    -   id: set-prod-docker-compose
        name: set-prod-docker-compose
        entry: /usr/bin/env sed
        language: script
        files: 'docker-compose.yml'
        args: [-E, -i, -e, '/^ +tty/s/: .*/: false/', -e, '/^ +stdin_open/s/: .*/: false/']

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1  #Locked to py 3.6
    hooks:
    -   id: trailing-whitespace
        types: [python]
    -   id: end-of-file-fixer
        types: [python]
    -   id: check-added-large-files
        types: [python]
    -   id: check-merge-conflict
        types: [python]

#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v0.931'  #Locked, most probably py3.6 again
#    hooks:
#    -   id: mypy

# https://github.com/hadolint/hadolint/blob/master/docs/INTEGRATION.md#pre-commit

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        language_version: python3
        entry: black --target-version=py38  # 3.8

-   repo: https://github.com/asottile/blacken-docs
    rev: v1.10.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==21.4b2]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.30.1  #Locked to py 3.6
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]  # 3.8

#-   repo: https://gitlab.com/pycqa/flake8.git
#    rev: 4.0.1
#    hooks:
#    -   id: flake8
#        #additional_dependencies:
#        #  - flake8-black>=0.1.1
#        language_version: python3
#        args: [--max-line-length, "222", --extend-ignore, "E203"]

-   repo: https://github.com/pycqa/doc8
    rev: 0.11.2
    hooks:
    -   id: doc8

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: rst-backticks
    -   id: rst-directive-colons

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.7.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "3.2"]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        args: [--profile, "black"]


## Static(s)
#-   repo: https://github.com/pre-commit/mirrors-prettier
#    rev: v2.6.2
#    hooks:
#    -   id: prettier
#        types_or: [javascript, css]
#-   repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v8.17.0
#    hooks:
#    -   id: eslint
#        files: \.js?$
#        types: [file]
#        args:
#        - --fix

commented-out deprecated rules
  Makefile
Due: none

Dj 4.2 🎉
  Makefile
  misc/parkour.env.sample
  parkour_app/requirements/base.in
  parkour_app/requirements/base.txt
  parkour_app/wui/settings/base.py
Due: set-prod-env

ease new devs onboarding
  Makefile
Due: none

fix CI
  .github/workflows/django.yml
Due: none

test CI sharing env-vars
  .github/workflows/django.yml
Due: none

added template validation to CI
  .github/workflows/django.yml
Due: none

pytest enabled
  Makefile
  parkour_app/pytest.ini
Due: none

dj linear migras
  parkour_app/common/migrations/max_migration.txt
  parkour_app/flowcell/migrations/max_migration.txt
  parkour_app/index_generator/migrations/max_migration.txt
  parkour_app/invoicing/migrations/max_migration.txt
  parkour_app/library/migrations/max_migration.txt
  parkour_app/library_preparation/migrations/max_migration.txt
  parkour_app/library_sample_shared/migrations/max_migration.txt
  parkour_app/pooling/migrations/max_migration.txt
  parkour_app/request/migrations/max_migration.txt
  parkour_app/requirements/dev.in
  parkour_app/requirements/dev.txt
  parkour_app/sample/migrations/max_migration.txt
  parkour_app/wui/settings/dev.py
Due: none

migrations linter enabled
  Makefile
  parkour_app/requirements/dev.in
  parkour_app/requirements/dev.txt
  parkour_app/wui/settings/dev.py
Due: none

pytest rule shown in help, and old plain test hidden
  Makefile
Due: none

check large files dropped
  .pre-commit-config.yaml
Due: none

easier parsing for CSRF_TRUSTED_ORIGINS
  .github/workflows/django.yml
  misc/parkour.env.sample
  parkour_app/wui/settings/base.py
Due: set-prod-env

remnant typo
  .pre-commit-config.yaml
Due: none

remove old debugging strategy, werkzeug ftw <3
  .pre-commit-config.yaml
  Makefile
  docker-compose.yml
Due: set-prod-docker-compose

goodbye no-code database
  Makefile
  misc/caddyfile.in.use
  misc/nginx-ncdb.conf
  ncdb.yml
Due: none

new rule: coverage
  Makefile
  parkour_app/.coveragerc
  parkour_app/.gitignore
Due: none

new testing deployment for... guess what :P
  Makefile
  parkour_app/requirements/testing.in
  parkour_app/requirements/testing.txt
  parkour_app/wui/settings/testing.py
Due: none

dependency update
  parkour_app/requirements/base.txt
Due: none

small reorganization around new testing framework
  Makefile
  parkour_app/requirements/testing.in
  parkour_app/requirements/testing.txt
Due: none

new rule: get-pin
  Makefile
Due: none

bugfix: failed sequencing are now skipped from invoice XLS report
  parkour_app/invoicing/views.py
Due: none

spaced backup strategy keeps us safer
  rsnapshot/config/crontabs/root
Due: none

testing settings were lacking lintmigrations command
  parkour_app/wui/settings/testing.py
Due: none

Add changelog within repo
  CHANGELOG.md
Due: none

Add notes for version 0.4.0
  CHANGELOG.md
Due: none

new rule: reload-code
  CHANGELOG.md
  Makefile
Due: none

open PR, merge PR, ...
  Makefile
Due: none

new test, just in case. Pingback: @rpep // https://rpep.dev/posts/django-migrations-model-imports/
  parkour_app/migrations/tests.py
Due: none

fix help msg in dev-easy rule
  Makefile
Due: none

new rule: set-testing-front -- switch to new Docker image with playwright dependencies
  Makefile
Due: none

Multi-stage builds, yaygit push
  Dockerfile
  Makefile
  docker-compose.yml
Due: set-prod-docker-1, set-prod-docker-2, set-prod-docker-compose

Added playwright setup and basic login test case
  Makefile
  parkour_app/common/templates/login.html
  parkour_app/frontend_tests/login_page.py
  parkour_app/playwright.ini
  parkour_app/requirements/testing.in
  parkour_app/requirements/testing.txt
Due: none

Changed the python version name to bullseye
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

Changed playwright install deps method
  Dockerfile
  Makefile
  docker-compose.yml
Due: set-prod-docker-1, set-prod-docker-2, set-prod-docker-compose

Pre-commit fix
  docker-compose.yml
Due: set-prod-docker-compose

Playwright testing setup for front-end (#47)
  Dockerfile
  Makefile
  parkour_app/common/templates/login.html
  parkour_app/frontend_tests/login_page.py
  parkour_app/playwright.ini
  parkour_app/requirements/testing.in
  parkour_app/requirements/testing.txt
Due: set-prod-docker-1, set-prod-docker-2

added latest changes description
  CHANGELOG.md
Due: none

pydot has nicer layout than graphviz + switch to pdf to try pdfposter
  Makefile
Due: none
