Repository maxplanck-ie/parkour2: changes, and which pre-commit hooks are due for each by the changed paths.
All: set-prod-docker-1, set-prod-env, set-local-url-1, set-local-url-2, set-prod-docker-2, set-prod-docker-compose

set-prod-docker-1:
  name: set-prod-docker-1
  entry: /usr/bin/env sed
  language: script
  args:
  - -i
  - /^RUN .* pip install/s/\(requirements\/\).*\(\.txt\)/\1prod\2/

set-prod-env:
  name: set-prod-env
  entry: /usr/bin/env sed
  language: script
  args:
  - -i
  - /^DJANGO_SETTINGS_MODULE/s/\(wui\.settings\.\).*/\1prod/

set-local-url-1:
  name: set-local-url-1
  entry: /usr/bin/env sed
  language: script
  args:
  - -i
  - /^http/s/http\:\/\/.* {/http:\/\/127\.0\.0\.1 {/

set-local-url-2:
  name: set-local-url-2
  entry: /usr/bin/env sed
  language: script
  args:
  - -i
  - /\:\/etc\/caddy\/Caddyfile$/s/\.\/.*\:/\.\/Caddyfile\:/

set-prod-docker-2:
  name: set-prod-docker-2
  entry: /usr/bin/env sed
  language: script
  args:
  - -i
  - /^CMD gunicorn/s/-t [0-9]+/-t 600/

set-prod-docker-compose:
  name: set-prod-docker-compose
  entry: /usr/bin/env sed
  language: script
  args:
  - -E
  - -i
  - -e
  - '/^ +tty/s/: .*/: false/'
  - -e
  - '/^ +stdin_open/s/: .*/: false/'

custom entry into parkour2-django /etc/hosts file
  docker-compose.yml
  misc/Caddyfile
  parkour_app/playwright/tests/test_utils.py
Due: set-local-url-1, set-prod-docker-compose

black-format, isort, and csv file paths using cwd
  parkour_app/playwright.ini
  parkour_app/playwright/tests/add_requests.py
  parkour_app/playwright/tests/login_page.py
Due: none

no masters, no mainstream(?), only developers
  Makefile
Due: none

actually we didn't update to dj4 yet, this is on-hold at our kanban
  CHANGELOG.md
Due: none

updated details
  CHANGELOG.md
Due: none

Request test: open popup
  parkour_app/frontend_tests/requests.py
Due: none

use virtual X server
  Makefile
Due: none

pk2_playwright build: only install chromium + use cache for downloaded dependencies
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

ignore ruff and pytest caches
  .dockerignore
  .gitignore
Due: none

Fixed rebasing error
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

set-prod + fixtures follow model names
  caddy.yml
  parkour_app/library_sample_shared/fixtures/concentration_methods.json
Due: set-local-url-2

Removed unwanted columns
  parkour_app/library_sample_shared/fixtures/concentration_methods.json
  parkour_app/static/main-hub/app/model/libraries/BatchAdd/Common.js
  parkour_app/static/main-hub/app/view/libraries/BatchAddWindowController.js
  parkour_app/static/main-hub/app/view/libraries/Libraries.js
Due: none

listen to whatever addresses
  Makefile
Due: none

rollback virtual x server, we may no need it
  Dockerfile
  Makefile
Due: set-prod-docker-1, set-prod-docker-2

Added playwright test for request addition
  parkour_app/frontend_tests/tests/add_requests.py
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
Due: none

Changed pytest n to 2
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
Due: none

playwrong still but gotta get there
  Makefile
Due: none

Columns commented
  parkour_app/static/main-hub/app/view/libraries/BatchAddWindowController.js
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: none

ignore test results
  .dockerignore
  .gitignore
Due: none

Refactored tests directory
  Dockerfile
  Makefile
  parkour_app/frontend_tests/data/library_request.csv
  parkour_app/frontend_tests/data/sample_request.csv
  parkour_app/frontend_tests/login_page.py
  parkour_app/frontend_tests/requests.py
  parkour_app/frontend_tests/test_data/library_request.csv
  parkour_app/playwright.ini
  parkour_app/static/main-hub/bootstrap.css
  parkour_app/static/main-hub/bootstrap.js
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/build/production/MainHub/app.js
  parkour_app/static/main-hub/build/production/MainHub/app.json
  parkour_app/static/main-hub/build/production/MainHub/app.jsonp
  parkour_app/static/main-hub/build/production/MainHub/microloader.jsp
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss.tmp
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/config.rb
  parkour_app/static/main-hub/build/temp/production/MainHub/sencha-compiler/app/full-page-master-bundle.js
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss.tmp
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  parkour_app/static/main-hub/ext/packages/ux/classic/src/FileGridField.js
  parkour_app/static/main-hub/sass/example/bootstrap.js
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: set-prod-docker-1, set-prod-docker-2

Added partial tests for library request addition
  parkour_app/frontend_tests/login_page.py
  parkour_app/frontend_tests/requests.py
  parkour_app/frontend_tests/test_data/library_request.csv
  parkour_app/frontend_tests/test_data/sample_request.csv
Due: none

we had parkour2_default network laying around anyway...
  caddy.yml
  docker-compose.yml
  nginx.yml
  pgadmin.yml
  rsnapshot.yml
Due: set-local-url-2, set-prod-docker-compose

Tests modified for playwright container
  Makefile
  parkour_app/frontend_tests/tests/add_requests.py
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
  parkour_app/playwright.ini
Due: none

Changed pytest n to 2
  Makefile
  parkour_app/playwright.ini
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/build/development/MainHub/app.json
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_1.css
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_2.css
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_3.css
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/MainHub-all.scss
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/MainHub-all.scss.tmp
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/config.rb
  parkour_app/static/main-hub/build/temp/development/MainHub/sencha-compiler/app/full-page-master-bundle.js
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: none

like this is supposed to work inside docker or CI
  parkour_app/playwright/tests/test_utils.py
Due: none

have some default values here and there
  parkour_app/wui/settings/base.py
  parkour_app/wui/settings/prod.py
Due: none

like this is supposed to work inside docker or CI
  Dockerfile
  parkour_app/playwright.ini
Due: set-prod-docker-1, set-prod-docker-2

ignore test_results
  .dockerignore
  .gitignore
Due: none

black format py code, rename folder, add slowmo video
  parkour_app/playwright.ini
  parkour_app/playwright/data/library_request.csv
  parkour_app/playwright/data/sample_request.csv
  parkour_app/playwright/tests/add_requests.py
  parkour_app/playwright/tests/login_page.py
  parkour_app/playwright/tests/test_utils.py
Due: none

Nav panel collapsed by default and make choice of state persistent
  parkour_app/static/main-hub/app/view/main/Main.js
  parkour_app/static/main-hub/app/view/main/MainController.js
Due: none

adding playwright to CI
  .github/workflows/django.yml
Due: none

test if missing env-var values pre-defined in settings/wui/base.py allow us to skip these
  .github/workflows/django.yml
Due: none

try skipping branch name, also run tests on any new tags (releases)
  .github/workflows/django.yml
Due: none

one command to rule them both
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

Path conditions:
  set-prod-docker-1: any of: Dockerfile
  set-prod-env: any of: parkour.env
  set-local-url-1: any of: Caddyfile
  set-local-url-2: any of: caddy.yml
  set-prod-docker-2: any of: Dockerfile
  set-prod-docker-compose: any of: docker-compose.yml
