Repository maxplanck-ie/parkour2: changes, and which pre-commit hooks are due for each by the changed paths.
All: set-prod-docker-1, set-prod-env, set-local-url-1, set-local-url-2, set-prod-docker-2, set-prod-docker-compose

.pre-commit-config.yaml:

ci:
    autofix_commit_msg: |
        [pre-commit] fixes from hooks
    autofix_prs: true
    autoupdate_branch: 'develop'
    autoupdate_commit_msg: 'pre-commit.ci autoupdate'
    autoupdate_schedule: quarterly
    skip: []
    submodules: false

repos:
-   repo: local
    hooks:
    -   id: set-prod-docker-1
        name: set-prod-docker-1
        entry: /usr/bin/env sed
        language: script
        files: 'Dockerfile'
        args: [-i, '/^RUN .* pip install/s/\(requirements\/\).*\(\.txt\)/\1prod\2/']
    -   id: set-prod-env
        name: set-prod-env
        entry: /usr/bin/env sed
        language: script
        files: 'parkour.env'
        args: [-i, '/^DJANGO_SETTINGS_MODULE/s/\(wui\.settings\.\).*/\1prod/']
    -   id: set-local-url-1
        name: set-local-url-1
        entry: /usr/bin/env sed
        language: script
        files: 'Caddyfile'
        args: [-i, '/^http/s/http\:\/\/.* {/http:\/\/127\.0\.0\.1 {/']
    -   id: set-local-url-2
        name: set-local-url-2
        entry: /usr/bin/env sed
        language: script
        files: 'caddy.yml'
        args: [-i, '/\:\/etc\/caddy\/Caddyfile$/s/\.\/.*\:/\.\/Caddyfile\:/']
    -   id: set-prod-docker-2
        name: set-prod-docker-2
        entry: /usr/bin/env sed
        language: script
        files: 'Dockerfile'
        args: [-i, '/^CMD gunicorn/s/-t [0-9]+/-t 600/']
    -   id: set-prod-docker-compose
        name: set-prod-docker-compose
        entry: /usr/bin/env sed
        language: script
        files: 'docker-compose.yml'
        args: [-E, -i, -e, '/^ +tty/s/: .*/: false/', -e, '/^ +stdin_open/s/: .*/: false/']

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1  #Locked to py 3.6
    hooks:
    -   id: trailing-whitespace
        types: [python]
    -   id: end-of-file-fixer
        types: [python]
    -   id: check-added-large-files
        types: [python]
    -   id: check-merge-conflict
        types: [python]

#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v0.931'  #Locked, most probably py3.6 again
#    hooks:
#    -   id: mypy

# https://github.com/hadolint/hadolint/blob/master/docs/INTEGRATION.md#pre-commit

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        language_version: python3
        entry: black --target-version=py38  # 3.8

-   repo: https://github.com/asottile/blacken-docs
    rev: v1.10.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==21.4b2]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.30.1  #Locked to py 3.6
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]  # 3.8

#-   repo: https://gitlab.com/pycqa/flake8.git
#    rev: 4.0.1
#    hooks:
#    -   id: flake8
#        #additional_dependencies:
#        #  - flake8-black>=0.1.1
#        language_version: python3
#        args: [--max-line-length, "222", --extend-ignore, "E203"]

-   repo: https://github.com/pycqa/doc8
    rev: 0.11.2
    hooks:
    -   id: doc8

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: rst-backticks
    -   id: rst-directive-colons

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.7.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "3.2"]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        args: [--profile, "black"]


## Static(s)
#-   repo: https://github.com/pre-commit/mirrors-prettier
#    rev: v2.6.2
#    hooks:
#    -   id: prettier
#        types_or: [javascript, css]
#-   repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v8.17.0
#    hooks:
#    -   id: eslint
#        files: \.js?$
#        types: [file]
#        args:
#        - --fix

VM_PROD var definition doesn't make much sense now that we removed deprecated upgrade procedure
  Makefile
Due: none

cleaning up deprecated color switching
  Makefile
Due: none

get_object doesn't return sequenced requests
  parkour_app/request/views.py
Due: none

speedup? huh??
  Makefile
Due: none

lighter context, faster build
  .dockerignore
Due: none

speedup testing but strive to avoid memory overflow
  Makefile
Due: none

use tabs
  misc/caddyfile.in.use
Due: none

add-pgadmin-caddy
  Makefile
  misc/Caddyfile_with_pgadmin
Due: set-local-url-1

hardreset-caddyfile
  .pre-commit-config.yaml
  Makefile
Due: none

we need staticfiles, duh
  Makefile
Due: none

Columns commented
  parkour_app/static/main-hub/app/view/libraries/BatchAddWindowController.js
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: none

Request test: open popup
  parkour_app/frontend_tests/requests.py
Due: none

Removed unwanted columns
  parkour_app/library_sample_shared/fixtures/concentration_methods.json
  parkour_app/static/main-hub/app/model/libraries/BatchAdd/Common.js
  parkour_app/static/main-hub/app/view/libraries/BatchAddWindowController.js
  parkour_app/static/main-hub/app/view/libraries/Libraries.js
Due: none

Added partial tests for library request addition
  parkour_app/frontend_tests/login_page.py
  parkour_app/frontend_tests/requests.py
  parkour_app/frontend_tests/test_data/library_request.csv
  parkour_app/frontend_tests/test_data/sample_request.csv
Due: none

Added playwright test for request addition
  parkour_app/frontend_tests/tests/add_requests.py
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
Due: none

Fixed rebasing error
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

Refactored tests directory
  Dockerfile
  Makefile
  parkour_app/frontend_tests/data/library_request.csv
  parkour_app/frontend_tests/data/sample_request.csv
  parkour_app/frontend_tests/login_page.py
  parkour_app/frontend_tests/requests.py
  parkour_app/frontend_tests/test_data/library_request.csv
  parkour_app/playwright.ini
  parkour_app/static/main-hub/bootstrap.css
  parkour_app/static/main-hub/bootstrap.js
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/build/production/MainHub/app.js
  parkour_app/static/main-hub/build/production/MainHub/app.json
  parkour_app/static/main-hub/build/production/MainHub/app.jsonp
  parkour_app/static/main-hub/build/production/MainHub/microloader.jsp
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/MainHub-all.scss.tmp
  parkour_app/static/main-hub/build/temp/production/MainHub/sass/config.rb
  parkour_app/static/main-hub/build/temp/production/MainHub/sencha-compiler/app/full-page-master-bundle.js
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/MainHub-example.scss.tmp
  parkour_app/static/main-hub/build/temp/production/MainHub/slicer-temp/theme-capture.png
  parkour_app/static/main-hub/ext/packages/ux/classic/src/FileGridField.js
  parkour_app/static/main-hub/sass/example/bootstrap.js
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: set-prod-docker-1, set-prod-docker-2

Changed pytest n to 2
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
Due: none

Tests modified for playwright container
  Makefile
  parkour_app/frontend_tests/tests/add_requests.py
  parkour_app/frontend_tests/tests/login_page.py
  parkour_app/frontend_tests/tests/test_utils.py
  parkour_app/playwright.ini
Due: none

Changed pytest n to 2
  Makefile
  parkour_app/playwright.ini
  parkour_app/static/main-hub/bootstrap.json
  parkour_app/static/main-hub/bootstrap.jsonp
  parkour_app/static/main-hub/build/development/MainHub/app.json
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_1.css
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_2.css
  parkour_app/static/main-hub/build/development/MainHub/resources/MainHub-all_3.css
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/MainHub-all.scss
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/MainHub-all.scss.tmp
  parkour_app/static/main-hub/build/temp/development/MainHub/sass/config.rb
  parkour_app/static/main-hub/build/temp/development/MainHub/sencha-compiler/app/full-page-master-bundle.js
  parkour_app/static/main-hub/sass/example/bootstrap.json
  parkour_app/static/main-hub/sass/example/bootstrap.jsonp
Due: none

set-prod + fixtures follow model names
  caddy.yml
  parkour_app/library_sample_shared/fixtures/concentration_methods.json
Due: set-local-url-2

black format py code, rename folder, add slowmo video
  parkour_app/playwright.ini
  parkour_app/playwright/data/library_request.csv
  parkour_app/playwright/data/sample_request.csv
  parkour_app/playwright/tests/add_requests.py
  parkour_app/playwright/tests/login_page.py
  parkour_app/playwright/tests/test_utils.py
Due: none

ignore test results
  .dockerignore
  .gitignore
Due: none

playwrong still but gotta get there
  Makefile
Due: none

ignore test_results
  .dockerignore
  .gitignore
Due: none

ignore ruff and pytest caches
  .dockerignore
  .gitignore
Due: none

use virtual X server
  Makefile
Due: none

New favicon colour
  parkour_app/static/images/favicon-16x16.png
  parkour_app/static/images/favicon-32x32.png
Due: none

have some default values here and there
  parkour_app/wui/settings/base.py
  parkour_app/wui/settings/prod.py
Due: none

pk2_playwright build: only install chromium + use cache for downloaded dependencies
  Dockerfile
Due: set-prod-docker-1, set-prod-docker-2

add manual re-run workflow button inside GitHub UI..
  .github/workflows/django.yml
Due: none

like this is supposed to work inside docker or CI
  parkour_app/playwright/tests/test_utils.py
Due: none

like this is supposed to work inside docker or CI
  Dockerfile
  parkour_app/playwright.ini
Due: set-prod-docker-1, set-prod-docker-2

listen to whatever addresses
  Makefile
Due: none

we had parkour2_default network laying around anyway...
  caddy.yml
  docker-compose.yml
  nginx.yml
  pgadmin.yml
  rsnapshot.yml
Due: set-local-url-2, set-prod-docker-compose

rollback virtual x server, we may no need it
  Dockerfile
  Makefile
Due: set-prod-docker-1, set-prod-docker-2
